{erl_first_files, ["src/erl_eval2.erl"]}.

{cover_enabled,true}.

{cover_export_enabled,true}.

{cover_print_enabled,true}.

{deps, [
    {parse_trans, "", {git, "git://github.com/nicoster/parse_trans.git", {branch, "partial-expand"}}}
]}.

{deps_dir,"deps"}.

{edoc_opts,[{dir,"DOC"},{todo,true},{preprocess,true},{includes,[".","deps"]}]}.

{erl_opts,[debug_info]}.

{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.

{xref_checks,[undefined_function_calls]}.

{relx, [{release, {decorate_rel, "0.0.1"},
    [decorator_pt, parse_trans]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]}.